{% extends 'admin/base.html.twig' %}

{% block title %}Inscription d'un utilisateur{% endblock %}

{% block stylesheets %}
    <style>
        .form-control {
            border: 1px solid #bdc3c7;
        }
    </style>
{% endblock %}

{% block body%}
    <div class="container" style="margin-top: 150px;">
        <h2 class="mb-5 font-weight-bold">Inscription d'un utilisateur et/ou administrateur</h2>
        <div class="divider_title"></div>

        <div class="row">
            <div class="col-lg-6">
                {{ form_start(form) }}

                {{ form_widget(form) }}

                <div class="form-group">
                    <button type="submit" class="btn btn-info">Inscription</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}