{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}

    {# SECTION HEADER #}
    {% include 'partials/_header_jumbotron.html.twig' with {'sub_title': 'Connection'} %}

    {# SECTION FORM LOGIN #}
    <section id="login_form">
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="card shadow p-4">

                        {% if error %}
                            <div class="alert alert-danger">
                                {# {{ error.messageKey|trans(error.messageData, 'security') }} #}
                                Une erreur est survenue. Mot de passe ou email incorrect !
                            </div>
                        {% endif %}

                        <form method="post">
                            <h1 class="h3 mb-3 font-weight-bold text-center">Connectez-vous...</h1>
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                            <br>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <br>

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}

                            <button class="btn btn-primary" type="submit">
                                Se connecter
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
