{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {# SECTION HEADER #}
    <section id="home_header">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="text-uppercase font-weight-bold">House Agency</h1>
                <p class="h3 mt-3 mb-5 font-italic">Votre satisfaction, notre objectif</p>
                <a href="#" class="btn btn-primary">Contacter nous</a>
            </div>
        </div>
    </section>

    {# SECTION ABOUT #}
    <section id="about">
        <div class="container">
            <h2 class="text-center">Qui Sommes-Nous ?</h2>
            <div class="divider_center"></div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum asperiores, fuga vitae blanditiis molestias corrupti harum, necessitatibus itaque delectus neque ducimus, aliquid repellat fugit nam nihil enim earum? Dolorem quos nulla nihil consequatur hic assumenda nobis iste perspiciatis? Voluptatibus quae ullam consequatur iste voluptatem excepturi sapiente. Impedit, distinctio nam dolor, in, obcaecati doloribus nemo temporibus eius ex officiis asperiores tempore consectetur aperiam. Repellat consequatur amet, voluptas quo cumque vitae eaque recusandae! Quia distinctio maiores atque beatae sit eius nihil, labore similique voluptates ea quod veritatis dolor corporis nostrum, odit iste ut laudantium repudiandae quaerat neque natus nobis ullam animi numquam.</p>
        </div>
    </section>

    {# SECTION SERVICES #}
    <section id="service">
        <div class="container">
            <h2 class="text-center">Nos Services</h2>
            <div class="divider_center"></div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card text-white bg-primary">
                        <div class="card-body text-center">
                            <h4 class="card-title text-white">
                                <i class="fas fa-home"></i><br>
                                Vente
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ab, minus quia quo aspernatur consequatur cupiditate eius voluptas, voluptate fuga unde commodi temporibus! Magnam, quasi quia animi modi in qui deserunt maxime error amet cumque quaerat quae necessitatibus voluptatum sapiente accusamus repellendus fugit delectus distinctio nulla est, quo ea temporibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-white bg-primary">
                        <div class="card-body text-center">
                            <h4 class="card-title text-white">
                                <i class="fas fa-key"></i><br>
                                Location
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi impedit asperiores quam. Est facilis odit sequi quae quibusdam a ab sed hic placeat? Cum, sint eligendi alias iusto aperiam sapiente dolorem. Odit error perferendis ut ipsum, deserunt nulla ea laboriosam, vitae provident repudiandae qui id laudantium, reiciendis harum quos praesentium?praesentium rem hic.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-white bg-primary">
                        <div class="card-body text-center">
                            <h4 class="card-title text-white">
                                <i class="fas fa-paint-brush"></i><br>
                                Remise à neuf
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi impedit asperiores quam. Est facilis odit sequi quae quibusdam a ab sed hic placeat? Cum, sint eligendi alias iusto aperiam sapiente dolorem. Odit error perferendis ut ipsum, deserunt nulla ea laboriosam, vitae provident repudiandae qui id laudantium, reiciendis harum quos praesentium?praesentium rem hic.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
