{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter une nouvelle option{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 120px;height: 100vh;">
        <h2 class="mb-5 font-weight-bold">Ajouter une nouvelle option</h2>
        <div class="divider_title"></div>

        <div class="row">
            <div class="col-lg-6">
                {{ form_start(form) }}

                {{ form_widget(form) }}

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Ajouter une option</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}