<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Demande de contact</title>
    </head>
    <body>
    <h2>Demande de contact de {{ contact.name }}</h2>

    <p>Nom : {{ contact.name }}</p>
    <p>Email : {{ contact.email }}</p>
    <p>Message : {{ contact.message | nl2br }}</p>

    </body>
</html>